.btn {
  background-color: red;
  color: white;
  padding: 10px;
  min-width: 64px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.2s, font-size 0.3s;
}
.btn:hover {
  background-color: rgb(249, 67, 67);
  /* font-size: large; */
  cursor: pointer;
}
.btn:active {
  color: blue;
}
